<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>NIDS Dashboard</title>
</head>
<body>
    <nav style="background:#0d6efd;padding:15px;">
    <a href="/" style="color:white;margin-right:20px;">Home</a>
    <a href="/loginpage" style="color:white;margin-right:20px;">Login</a>
    <a href="/registerpage" style="color:white;margin-right:20px;">Register</a>
    <a href="/dashboard" style="color:white;">Dashboard</a>
</nav>
    <h1>Network Intrusion Detection System</h1>
    <h3>Welcome to NIDS Dashboard</h3>

    <p>✔ User Authentication Working</p>
    <p>✔ Network Monitoring Working</p>
    <p>✔ Threat Detection Working</p>
    <p>✔ Alert System Working</p>
</body>
</html>